<footer class="py-5">
    <div class="row mx-5">
        <div class="col-6 col-md-2 mb-4">
            <h5 class="text-white ms-3" style="font-weight: 700;">Quick Links</h5>
            <ul class="nav flex-column ms-3">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">About</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-4">
            <h5 class="text-white ms-3" style="font-weight: 700;">Resources</h5>
            <ul class="nav flex-column ms-3">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Documentation</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">API</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Community</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white opacity-75">Events</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <form>
                <h5 class="text-white ms-3" style="font-weight: 700;">Stay Connected</h5>
                <p class="text-white ms-3 opacity-75">Receive updates on our latest products and services.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2 ms-3">
                    <input id="newsletter1" type="email" class="form-control rounded-3 me-3" placeholder="Enter your email" style="border: none;">
                    <button class="btn btn-light rounded-3 px-4" type="button">Subscribe</button>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center py-4 border-top mx-5">
        <p class="text-white mx-4 mb-0">&copy; 2024 Prakritikart, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </div>
</footer>
