<nav class="navbar navbar-expand-lg bg-custom text-white fixed-top">
    <div class="container-fluid">
      <!-- Navbar brand (logo) aligned to the left -->
      <a class="navbar-brand" href="/">
        <img
          src="assets/logo.svg"
          alt="Brand Logo"
          width="180"
          height="60"
          class="d-inline-block align-text-top"
          style="margin-right: 20px"
        />
      </a>
  
      <!-- Toggle button for mobile view -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible part of the navbar -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="about">About us</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link text-white" routerLink="signup">Sign up</a>
          </li>
        </ul>
  
        <!-- Search form -->
        <form class="d-flex me-3">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-success text-white" type="submit">Search</button>
        </form>
  
        <!-- Conditional rendering based on login state -->
        <div *ngIf="isLoggedIn; else guestLinks">
          <div class="dropdown" [class.show]="dropdownOpen">
            <img
              src="assets/profile.png"
              alt="Profile"
              width="40"
              height="40"
              class="dropdown-toggle"
              (click)="logoclick($event)"
            />
  
            <!-- Dropdown Menu -->
            <div
              class="dropdown-menu dropdown-menu-right custom-dropdown"
              [class.show]="dropdownOpen"
              aria-labelledby="dropdownMenuButton"
            >
              <a class="dropdown-item" routerLink="/profile">Profile</a>
              <a class="dropdown-item" routerLink="/settings">Settings</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
  
        <!-- Guest links (Login & Sign Up) -->
        <ng-template #guestLinks>
          <button class="btn btn-primary text-white ms-2" routerLink="login" type="button">Login</button>
          <button class="btn btn-primary text-white ms-2" routerLink="signup" type="button">Sign up</button>
        </ng-template>
      </div>
    </div>
  </nav>
  