<div class="outer">
<div class="container inner">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <div class="user-type-selection">
      <div class="card-container">
        <label class="card">
          <input type="radio" formControlName="userType" value="Customer" name="userType" />
          <div class="card-content">
            <p>Signup as Customer</p>
          </div>
        </label>
        <label class="card">
          <input type="radio" formControlName="userType" value="Seller" name="userType" />
          <div class="card-content">
            <p>Signup as Seller</p>
          </div>
        </label>
      </div>
    </div>

    <!-- First Name -->
    <div class="form-group">
      <label for="firstName">First Name*</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control"
        [ngClass]="{ 'is-invalid': firstName?.invalid && firstName?.touched }"
        [placeholder]="firstName?.invalid && firstName?.touched ? 'First Name is required' : 'Enter First Name'" />
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label for="lastName">Last Name*</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control"
        [ngClass]="{ 'is-invalid': lastName?.invalid && lastName?.touched }"
        [placeholder]="lastName?.invalid && lastName?.touched ? 'Last Name is required' : 'Enter Last Name'" />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email*</label>
      <input type="email" id="email" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }"
        [placeholder]="email?.invalid && email?.touched ? 'Valid Email is required' : 'Enter Email'" />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password*</label>
      <input type="password" id="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': password?.invalid && password?.touched }"
        [placeholder]="password?.invalid && password?.touched ? 'Password is required' : 'Enter Password'" />
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="phoneNumber">Phone Number*</label>
      <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-control"
        [ngClass]="{ 'is-invalid': phoneNumber?.invalid && phoneNumber?.touched }"
        [placeholder]="phoneNumber?.invalid && phoneNumber?.touched ? 'Phone Number is required' : 'Enter Phone Number'" />
    </div>

    <br />
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Sign Up</button>

    <!-- Sign In Link -->
    <div class="mt-3">
      <p>
        Already have an account?
        <a routerLink="/login/user" class="btn btn-link">Log In</a>
      </p>
    </div>
  </form>
</div>
</div>