<div class="sliderHome">
  <div class="slider">
    <div
      class="slide"
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === currentSlide"
    >
      <img [src]="slide.image" [alt]="slide.alt" />
      <div class="text-overlay">
        <h1 class="highlight-text">{{ slide.text }}</h1>
      </div>
    </div>
  
    <!-- Navigation Arrows -->
    <button class="nav-button prev" (click)="prevSlide()">&#10094;</button>
    <button class="nav-button next" (click)="nextSlide()">&#10095;</button>
  </div>
  
</div>


<div class="catediv">
  <div class="button-section">
    <button (click)="filterByCategory('Arishtam')" class="category-btn">
      Arishtam
    </button>
    <button (click)="filterByCategory('Bhasmam')" class="category-btn">
      Bhasmam
    </button>
    <button (click)="filterByCategory('Churnam')" class="category-btn">
      Churnam
    </button>
    <button (click)="filterByCategory('Ghritam')" class="category-btn">
      Ghritam
    </button>
    <button (click)="filterByCategory('Granules')" class="category-btn">
      Granules
    </button>
    <button (click)="filterByCategory('Tailam')" class="category-btn">
      Tailam
    </button>
  </div>

  <div *ngIf="filteredProducts.length > 0" class="category-section">
    <div class="product-row">
      <div class="product-card" *ngFor="let product of filteredProducts; let i=index" > 
        <div class="clickproduct" (click)="goToProduct(i)" >
        <img
          [src]="product.images[0]?.imageUrl"
          alt="{{ product.productName }}"
          class="product-image"
        />
        <h4>{{ product.productName }}</h4>
        <p>{{ product.description.split(' ').slice(0, 20).join(' ') +
          (product.description.split(' ').length > 20 ? '...' : '') }}</p>
        <p>
          <strong>₹{{ product.price }}</strong>
        </p>
      </div>
        <button
          (click)="addToCart(i , 1)"
          class="add-to-cart-btn"
        >
          Add to Cart
        </button>
        
      </div>
    </div>
    
  </div>

  <div *ngIf="filteredProducts.length === 0" class="category-section no-product">
    <p>No products available in this category.</p>
  </div>
</div>
