/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
* {
    margin: 0 !important; /* Remove margins from all elements */
    padding: 0; 
    scroll-behavior: smooth;
    /* Optionally remove padding */
}
body {
    padding-top: 60px; 
    
  }
  