/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
* {
    
    padding: 0; 
    scroll-behavior: smooth;
    /* Optionally remove padding */
}
body {
    padding-top: 60px;    
  }

  @media (width:720px) {
    .toast-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed !important;
        top: 20% !important;
        left: 60% !important;
        transform: translate(-50%, -50%) !important;
      }
    
  }
  .toast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed !important;
    top: 20% !important;
    left: 90% !important;
    transform: translate(-50%, -50%) !important;
  }
  
  